[barman]
barman_home = /var/lib/barman
configuration_files_directory = /etc/barman.d
barman_user = barman
log_file = /var/log/barman/barman.log
compression = gzip
backup_method = postgres
archiver = on
retention_policy = REDUNDANCY 3
